body{
    background-color: rgb(56, 150, 226);
    text size: 16px;
    padding: 80px;
    font-family: cursive;
    
  }
img{
    border-radius: 30%;
}

header{
    background-color: #ccc;
    padding: 40px;   
    text-align: center;
        
}
h1{
    color: darkred;}
h2{
    font-size: 40px;
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
    color: darkred;
    text-decoration: underline;
    border-style: solid;
    border-left-width: 10px;
    border-right-width: 30px;
    border-color: darkred;
    border-width: 2px;
    border-radius: 10px 30px 10px 30px
} 
h3{
    color: darkgreen;
}

.hero{
     
    background-image: url(../Images/hero.jpg);
    background-size: cover;    
}

@media only screen and (min-width: 600px) 
    {body { background-color: rgb(56, 150, 226); } }
      
@media only screen and (min-width: 768px) 
    {body { background-color: rgb(138, 212, 53); }} 
    
@media only screen and (min-width: 992px) 
    {body { background-color: rgba(246, 249, 75, 0.437); } } 
      